
#gallery h2 {
    color: #d46060; 
    font-size: 3.5rem;
    margin-bottom: 30px; /* Increased bottom margin for more space */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Carousel Container */
.carousel {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Carousel Slides Container */
.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0; /* Removed the extra space here */
    margin: 10px;
}

/* Individual Carousel Item (Image) */
.carousel-item {
    flex: 0 0 100%; 
    box-sizing: border-box;
    position: relative; /* For positioning captions */
    padding: 5px;
    margin: auto; /* Add spacing between carousel items */
}

/* Last carousel item should not have right margin */
.carousel-item:last-child {
    margin-right: 0;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover; 
}

/* Image Caption Styling */
.image-caption {
    position: absolute;
    bottom: 15px; /* Adjust position as needed */
    right: 10px;  /* Adjust position as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px; 
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Fade in effect */
}

.carousel-item:hover .image-caption {
    opacity: 1;
}
